<tr>
	<th class="table-header-repeat line-left"><a href='#'>Title</a></th>
	<th class="table-header-repeat line-left"><a href='#'>Status</a></th>
	<th class="table-header-repeat line-left"><a href='#'>Priority</a></th>
	<th class="table-header-repeat line-left line-right"></th>
</tr>