<tr>
	<th class="table-header-repeat line-left"><a href='#'>First Name</a></th>
	<th class="table-header-repeat line-left"><a href='#'>Last Name</a></th>
	<th class="table-header-repeat line-left"><a href='#'>Email</a></th>
	<th class="table-header-options line-left"></th>
</tr>