<tr>
	<th class="table-header-repeat line-left"><a href='#'>Subject</a></th>
	<th class="table-header-repeat line-left"><a href='#'>Body</a></th>
	<th class="table-header-repeat line-left line-right"></th>
</tr>